* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

li {
    font-size: 30px;
}

div {
    margin-bottom: 40px ;
}

table, tr,  td {
    border: 3px double rgb(66, 66, 66);
    border-collapse: separate;
    font-size: 30px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

