

div {
    background-color: #34495E;
    padding: 21px;
    margin-bottom: 25px;
    margin-left: 300px;
    border-radius: 21px;
    width: 1720px;
    

}

h1 {
    margin-left: 300px;
    color: rgb(7, 139, 18);
}

p {
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
}